<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<i class="far fa-address-book"></i>
<i class="fab fa-github"></i>


<%= link_to courses_path, class: 'btn btn-success' do %>
    <div class="fa fa-book"></div>
    Course
  <% end %>
  